{% extends 'base.html' %}

{% block title %} Create Tasks  {% endblock title %}

{% block content %}
            <div class="task-form">
                <h1>Create a new task</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>

 {% endblock content %}
