{% extends 'base.html' %}

{% block title %} Task List {% endblock title %}

{% block content %}
            <div class="my-tasks-list">
                <h1>My Tasks</h1>
                {% if tasks %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                                <th>Project</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>
                                    <td>
                                     <a href="{% url 'show_project' task.project.id %}">{{task.project.name}}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
            </div>
{% endblock content %}
